# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel
server_log.txt
